venv/
.venv/

*.pyc
__pycache__/
*.egg-info/

.git/
.gitignore

qdrant/
database/

.idea/
.vscode/

.DS_Store
Thumbs.db

tests/
pytest.ini
.pytest_cache/
htmlcov/
.coverage*

.env
sample.env

/chatbot-ui